# File paths 
PROBLEM_STATEMENT="submission/problem_statement.txt"
RUBRIC="submission/rubric.txt"
RUBRIC_SUMMARY="submission/rubric_summary.txt"
C_PROGRAM_FILE=""
OUTPUT_DIR="output/"
INTER_DIR="intermediates/"
SUBMISSIONS_DIR="submission/all_submissions"

# LLM Models
PROPOSER_REVIEWER='o4-mini-2025-04-16'
SUMMARIZER='gpt-4.1-2025-04-14'

## API Keys
OPENAI_API_KEY="your_openai_api_key_here"
